<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810925929680-cd79sdold3kdg77fg7ff2t43ge7p6kra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810925929680-cd79sdold3kdg77fg7ff2t43ge7p6kra</string>
	<key>API_KEY</key>
	<string>AIzaSyCKbZy2sy2e9tHkiIiE-UKpmORb6NurTx4</string>
	<key>GCM_SENDER_ID</key>
	<string>810925929680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.wifi.extender</string>
	<key>PROJECT_ID</key>
	<string>loom-a39f5</string>
	<key>STORAGE_BUCKET</key>
	<string>loom-a39f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810925929680:ios:e2f69d4bd7d0aa2a8b1ad5</string>
</dict>
</plist>